select-container{
    background-color: rgb(146, 239, 146);
    /* height: 100% */
    /* width */
}
#currency-select {
    padding: 10px;
    font-size: 16px;
    background-color: rgb(149, 228, 149);
    border: none;
}
  
#currency-select option {
    padding: 10px;
}
#currency-select option:hover {
    background-color: rgb(149, 228, 149);
    /* Add more styles for the hover effect */
}